@if (IsVisible)
{
    <div class="alert alert-@Type">
        @Message
        <button type="button" class="close" @onclick="Close">&times;</button>
    </div>
}

@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public string Type { get; set; } = "danger";

    [Parameter] public EventCallback OnClose { get; set; }

    private bool IsVisible => !string.IsNullOrWhiteSpace(Message);

    private void Close()
    {
        Message = null;
        OnClose.InvokeAsync();
    }
}