@page "/logout"
@using Bizz.Entities.Models;
@using Bizz.DataService.Services;
@using Starterkit.Components;
@inject NavigationManager NavigationManager;

@inject AuthenticationService AuthService
@using Microsoft.AspNetCore.Components.Authorization

<h3>Logout</h3>

<button @onclick="LogoutCall">Logout</button>

@code {
    private async Task LogoutCall()
    {
        await AuthService.SignOutAsync();
        NavigationManager.NavigateTo("/account/login");
    }
}